*, *::after, *::before {
	box-sizing: border-box;
}

.grid {
	display: -ms-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.grid-nav-item {
	flex: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

.grid-element-head {
	display: block;
	width: 100%;
}

.grid-element-cell {
	-ms-flex-grow: 1;
	flex-grow: 1;
	max-width: 50%;
}

@media (min-width: 0) {
	nav a {
		text-align: center;
		border-bottom: 3px black solid;
	}


	h1 {
		text-align: center;
	}

	.grid-element-cell {
		max-width: 100%;
		display: block;
	}
}


@media (min-width: 40em) {
	nav a {
		border-bottom: 3px white solid;
	}

	nav a:hover, nav a:focus {
		border-bottom: 3px black solid;
	}

	.nav-sub {
		min-width: 30%;
	}

	.grid-element-cell {
		-ms-flex-grow: 1;
		flex-grow: 1;
		max-width: 50%;
	}
}
