*, *::after, *::before {
	box-sizing: border-box;
}

.grid {
	display: -ms-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.grid-nav-item {
	flex: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

.grid-element-head {
	display: block;
	width: 100%;
}

.grid-element-cell {
	-ms-flex-grow: 1;
	flex-grow: 1;
	max-width: 50%;
}

.grid-instantStack {
	min-width: 100%;
}

.grid-element-sidebar {
	flex: 2;
}

.grid-element-main {
	flex: 3;
}

.grid-element-aboutImage {
	flex: 1;
}

.content-container {
	display: -ms-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}

.content-chunk-text {
	flex: 1 1 30em;
}

.content-chunk-image {
	flex: 2 2 5em;
}

@media (min-width: 0) {
	.nav-main-container {
		display: block;
	}

	.nav-main-item {
		display: block;
		font-size: 0.8rem;
	}

	#nav-main-item1 {
		background: repeating-linear-gradient(
		125deg,
		rgb(255, 246, 201),
		rgb(255, 246, 201) 5px,
		white 5px,
		white 20px
	);	
	}

	#nav-main-item2 {
		background-color: black;
		color: white;			
	}

	#nav-main-item3 {
		background: repeating-linear-gradient(
			125deg,
			rgb(244, 220, 225),
			rgb(244, 220, 225) 5px,
			white 5px,
			white 20px
		);
	}

	#nav-main-item4 {
		background-color: rgb(57, 89, 64);
		color: white;
	}

	.nav-sub {
		margin: 1rem 0 1rem 0;
	}

	nav a {
		text-align: center;
		border-bottom: 3px black solid;
	}

	h1 {
		text-align: center;
		margin-top: 1rem;
		font-size: 3rem;
	}

	h2 {
		margin-top: -2rem;
	}

	h3 {
		width: 100%;
	}

	.element {
		margin: 0;
	}

	.grid-element-cell {
		max-width: 100%;
		display: block;
	}

	.grid-instantStack h1 {
		font-size: 1.9rem;
	}

	code {
		max-width: 100%;
	}
}


@media (min-width: 40em) {
	.nav-main-container {
		display: flex;
	}	

	.nav-main-item {
		display: block;
	}

	nav a {
		text-align: center;		
		border-bottom: 3px white solid;
	}

	nav a:hover, nav a:focus {
		border-bottom: 3px black solid;
	}

	h1 {
		margin-top: -1.75rem;
		font-size: 5.2rem;		
	}

	h2 {
		margin-top: -4.5rem;
		font-size: 2.2rem;
	}

	h5 {
		width: 100%;
	}

	.nav-sub {
		min-width: 30%;
	}

	.element {
		margin: 2rem 0 2rem 0;
	}

	.grid-element-cell {
		-ms-flex-grow: 1;
		flex-grow: 1;
		max-width: 50%;
	}

	.grid-instantStack h1 {
		font-size: 3rem;
	}
}

@media (min-width: 64em) {
	h1 {
		font-size: 8.3rem;
		margin-top: -2.5rem;
	}

	h2 {
		font-size: 3.5rem;
		margin: -7rem 0 0 0;
	}

	#nav-main-item1, #nav-main-item2, #nav-main-item3, #nav-main-item4 {
		background: initial;
		background-color: white;
		color: black;
	}

	.nav-main-item {
		font-size: 1rem;
		text-align: center;
	}	

	.grid-instantStack h1 {
		font-size: 5rem;
	}

	.grid-instantStack h2 {
		margin: -5rem 0 0 0;
	}

	.grid-element-sidebar, .grid-element-main {
		width: 100%;
	}
}

@media (min-width: 72em) {
	h1 {
		font-size: 9.5rem;
		margin-top: -2.6rem;
	}

	h2 {
		font-size: 4rem;
		margin: -8.3rem 0 0 0;
	}
}

@media (min-width: 81em) {
	h1 {
		font-size: 10.5rem;
		margin-top: -3rem;
	}

	h2 {
		margin: -9rem 0 0 0;
	}

	h5 {
		width: 50%;
	}
}

@media (min-width: 87.5em) {
	h1 {
		font-size: 11.5rem;
		margin-top: -3.2rem;
	}

	h2 {
		margin: -9.75rem 0 0 0;
	}
}
