/* C O L O U R S */
	/*pink*/
	/*rgb(244, 220, 225);*/
	/*dark green*/
	/*rgb(57, 89, 64);*/
	/*mauve*/
	/*rgb(167, 134, 141);*/
	/*grey*/
	/*rgb(245, 245, 245);*/	

/* P A G E - L E V E L  E L E M E N T S */
body {
	font-family: 'Montserrat', sans-serif;
}

nav a {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-decoration: none;
	padding: 0.5rem;
	width: 100%;
	border-bottom: 3px white solid;
}

/*nav a:hover, nav a:focus {
	font-family: 'Montserrat', serif;
	font-style: italic;
	font-size: 0.9rem;
}*/

.nav-main {
	color: white;
	background-color: black;
	border-bottom: 3px black solid;
}

h1 {
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	padding: 1rem;
	text-align: center;
			
}

h2 {
	display: block;
	font-family: 'Montserrat', serif;
	border-bottom: 3px black solid;	
	text-align: center;
	/*pink*/
	background-color: rgb(244, 220, 225);	
	padding: 0.5rem;
}

h3 {
	display: block;
	padding: 1rem 0 0.5rem 0;
	margin-left: 1rem;
	font-variant: 700;
}

.element .grid {
	padding: 1rem;
}

.grid-element-cell {
	padding: 0 0 1rem 1rem;
}

code {
	padding: 0.5rem;
	background-color: white;
	line-height: 1.5rem;
}

/* S T Y L E  G U I D E  E L E M E N T S */

.link-intext {
	/*dark green*/
	color: rgb(57, 89, 64);
	text-decoration: none;
}

.link-intext:hover, .link-intext:focus {
	font-family: 'Montserrat', serif;
	font-style: italic;
	font-size: 0.9rem;
}

.colour-swatch {
	display: block;
	margin: auto;
	text-align: center;	
	padding: 1rem;
}

#primary {
	background-color: rgb(244, 220, 225);
}

#secondary {
	background-color: rgb(57, 89, 64);
}

#tertiary {
	background-color: rgb(167, 134, 141);
}
