/* C O L O U R S */
	/*pink*/
	/*rgb(244, 220, 225);*/
	/*yellow*/
	/*rgb(255, 246, 201);*/
	/*dark green*/
	/*rgb(57, 89, 64);*/
	/*mauve*/
	/*rgb(167, 134, 141);*/
	/*grey*/
	/*rgb(245, 245, 245);*/	

/* P A G E - L E V E L  E L E M E N T S */
@font-face {
  font-family: 'Aliens and Cows';
  src: url('aliens-and-cows.eot'); /* IE9 Compat Modes */
  src: url('aliens-and-cows.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('aliens-and-cows.woff2') format('woff2'), /* Super Modern Browsers */
       url('aliens-and-cows.woff') format('woff'), /* Pretty Modern Browsers */
       url('aliens-and-cows.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('aliens-and-cows.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'soleil', sans-serif;
	background-color: black;
	margin: 0;
}

.nav-main-container {
	width: 100%;
}

nav a {
	display: inline-block;
	font-family: 'soleil', sans-serif;
	color: black;
	text-decoration: none;
	padding: 0.5rem;
	border-bottom: 3px white solid;
	position: relative;
}

.nav-main-item {
	/*color: white;
	background-color: black;*/
	background-color: white;
	color: black;
	/*border-bottom: 3px black solid;*/
	border-bottom: 3px white solid;
	z-index: 1;
}

.nav-main-item:hover, .nav-main-item:focus, .nav-sub:hover, .nav-sub:focus {
	/*pink*/
	border-bottom: 3px rgb(244, 220, 225) solid;
}

#nav-main-item1:hover, .nav-main-item1:focus {
	background: repeating-linear-gradient(
		125deg,
		rgb(255, 246, 201),
		rgb(255, 246, 201) 5px,
		white 5px,
		white 20px
	);	
}

#nav-main-item2:hover, #nav-main-item2:focus {
	background-color: black;
	color: white;
}

#nav-main-item3:hover, #nav-main-item3:focus {
	background: repeating-linear-gradient(
		125deg,
		rgb(244, 220, 225),
		rgb(244, 220, 225) 5px,
		white 5px,
		white 20px
	);		
}

#nav-main-item4:hover, #nav-main-item4:focus {
	background: white;
  	background-image:
    	radial-gradient(rgb(255, 246, 201) 20%, transparent 0), 
    	radial-gradient(rgb(255, 246, 201) 20%, transparent 0);
  	background-size: 30px 30px;
  	background-position: 0 0, 15px 15px;
}

#nav-main-item5:hover, #nav-main-item5:focus {
	/*dark green*/
	background-color: rgb(57, 89, 64);
	color: white;
}

.nav-sub {
	margin: 3rem 0 3rem 0;
}

h1 {
	font-family: 'Aliens and Cows', sans-serif;
	text-align: center;
	/*pink*/
	color: rgb(244, 220, 225);
	font-weight: lighter;
}

h2 {
	font-family: 'League Script', serif;
	text-align: center;
	color: white;
	font-weight: lighter;
}

h3 {
	font-family: 'soleil', sans-serif;
	display: block;
	text-align: left;
	padding: 0.75rem 0 0.5rem 2rem;
	margin: auto;
	font-variant: 800;
	font-size: 1.5rem;
	color: black;

}


h4 {
	font-family: 'League Script', serif;
	color: black;
	text-align: left;
	padding: 0 0 0 2rem;
	margin: 0;
	width: 100%;
	font-size: 150%;
}

.content-chunk-text h4, .content-chunk-text h3 {
	padding: 0;
}

h5 {
	color: black;
	text-transform: uppercase;
	background: white;
	padding: 0.5rem;
	width: 15rem;
}

.content-container {
	padding: 1rem;
	background-color: white;
}

.content-main-about {
	width: 75%;
	display: block;
	margin: auto;
}

.content-sidebar {
	margin: 2rem 1rem 0 1rem;
}

.grid-element-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-main {
	margin-top: 2rem;
}

.content-container {
	align-items: center;
	align-content: flex-start;
}

.content-chunk-image {
	padding: 1rem;
	align-content: center;
	align-items: center;
	/*width: 50%;*/
	display: block;
	text-align: center;
	margin: auto;
}

.content-chunk-text {
	padding: 1rem;
	/*width: 50%;*/
}

.content-quote {
	background: repeating-linear-gradient(
		125deg,
		rgb(244, 220, 225),
		rgb(244, 220, 225) 5px,
		white 5px,
		white 20px
	);	
}

p {
	margin: 0 0 2rem 0;
}

p a {
	font-weight: 800;
	/*dark green*/
	color: rgb(57, 89, 64);
	text-decoration: none;
}

p a:hover, p a:focus {
	font-family: 'soleil', serif;
	/*pink*/
	color: rgb(244, 220, 225);
}

.grid-element-aboutImage img {
	max-width: 150px;
	margin: 0.5rem;
}

img {
	max-width: 450px;
}

img .old {
	max-width: 200px;
}

.content-colour {
	padding: 5rem;
}

#primary {
	background-color: rgb(0, 147, 68);
}

#secondary {
	background-color: rgb(56, 180, 73);
}

#tertiary {
	background-color: rgb(0, 167, 157);
}