/* C O L O U R S */
	/*pink*/
	/*rgb(244, 220, 225);*/
	/*yellow*/
	/*rgb(255, 246, 201);*/
	/*dark green*/
	/*rgb(57, 89, 64);*/
	/*mauve*/
	/*rgb(167, 134, 141);*/
	/*grey*/
	/*rgb(245, 245, 245);*/	

/* P A G E - L E V E L  E L E M E N T S */
.nav-sub-container {
	background-color: white;
}

section {
	width: 100%;
}

h5 {
	color: black;
	text-transform: uppercase;
	background: white;
	padding: 0.5rem;
	width: 15rem;
}

.element .grid {
	padding: 0;
}

.element .grid .grid-element-cell:nth-child(1) {
	padding: 1rem;
	/*grey*/
	background: rgb(245, 245, 245);
}

.grid-element-cell {
	padding: 0 0 1rem 1rem;
}

code {
	padding: 0.5rem;
	/*pink*/
	background-color: rgb(244, 220, 225);
	line-height: 1.5rem;
}

/* S T Y L E  G U I D E  E L E M E N T S */

.link-intext {
	font-weight: 800;
	/*dark green*/
	color: rgb(57, 89, 64);
	text-decoration: none;
}

.link-intext:hover, .link-intext:focus {
	color: rgb(244, 220, 225);
}

.grid-instantStack h1 {
	font-size: 5rem;
}

#style-headings {
	background-color: black;
}

.colour-swatch {
	display: block;
	margin: auto;
	text-align: center;	
	padding: 5rem;
}

#me-primary {
	/*pink*/
	background-color: rgb(244, 220, 225);
	padding: 5rem;
}

#me-secondary {
	/*yellow*/
	background-color: rgb(255, 246, 201);
}

#me-tertiary {
	/*dark green*/
	background-color: rgb(57, 89, 64);
}

#me-fourth {
	/*mauve*/
	background-color: rgb(167, 134, 141);
}

#me-fifth {
	/*grey*/
	background-color: rgb(245, 245, 245);
}
